body {
    margin-top: 0px;
    background-color:#0f0f0f;
    /* background-color: red; */
}

.whole-display-div-content {
    display: grid;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}
.top-navbar-yt-1 {
    position: fixed;
    display: flex;
    background-color: #0f0f0f;
    /* background-color: rgb(155, 137, 140); */
    flex-direction: row;
    align-items: center;
    height: 56px;
    width: 100%;
}
.yt-navbar-svg-container-menu {
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.youtube-icon-2 {
    width: 150px;
}
.youtube-icon-2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#svg-yt-ham-menu {
    height: 30px;
    width: 33px;
}

.youtube-icon-2 {
    display: flex;
    margin: 0px;
    height: 75%;
    align-items: center;
    justify-content: center;
}

#svg-yt-icon2 {

}

#youtube-icon-2-youtube-heading {
    /* font-family: "Teko", sans-serif; */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    /* font-weight: 900; */
    color: white;
    margin-left: 2px;
    /* letter-spacing: -2.2px; */
    transform: scaleX(0.7); 
    font-weight: 550;
}



.box-search-container-parent1 {
    display: flex;
    height: 56px;
    width: 60%;
    /* background-color:red; */
    opacity: 0.9;
    margin-left: 20px;
    margin-right: 10px;
}
.search-box {
    display: flex;
    margin-left: 5%;
    /* background-color: green; */
    align-items: center;
    height: 100%;
    width: 95%;
    opacity: 0.7;
    margin-right: 10px;
}

#form-1-search-box {
    display: flex;
    width: 100%;
}


#text-input-search2 {
    margin-left: 13%;
    background-color: #0f0f0f;
    border: 2px solid #302f2f;
    height: 30px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-left: 15px;
    font-size: 15px;
    width: 70%;
    color: white;
}
.inside-text342 {
    color: rgb(224, 224, 224);
    font-size: 1em;
    margin-top: .2em;
}


#text-input-search2:focus {
    color: white;
    opacity: 1;
}

#svg-search-click-container {
    /* background-color: blueviolet; */
    background-color: #302f2f;
    /* height: 34px; */
    width: 50px;
    display: flex;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-right: 15px;
}

#mic-container-search-nav3 {
    display: flex;
    height: 36px;
    width: 36px;
    background-color:#302f2f;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-right: 2px;
    padding-left: 2px;
}


* {
    font-family:  Roboto, Arial, sans-serif;
}

.parent-top-right-32475895 {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    /* background-color: orange; */
    width: 225px;
    height: 40px;
    margin-right: .1%;
    margin-left: 9%;
}
.svg-top-right-3740918247389 {
    margin-right: 15px;
}

.top-right-nav-1 {
    display: flex;
    /* background-color: orange; */
    align-items: center;
    flex-direction: row;
    justify-content:right;
    margin-right: 20%;
    width: 156px;
    height: 40px;
    background-color:#0f0f0f;
}

#movie-top-right-container-svg {
    display: block;
}

#image-border-box2 {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
}

#profile-pic-img {
    background-size: contain;
}
#pp22 {
    margin-left: 7px;
}


.sidebar-cont-main {
    display: flex;
    background-color:#0f0f0f;
    position: fixed;
    top: 57px;
    /* position: relative; */
    width: 18%;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* padding-bottom: 500px; */
    /* box-sizing: border-box; */
    bottom: 0;
    left: 0;
}



.home-subs-cont2 {
    display: flex;
    background-color:#0f0f0f;
    flex-direction: column;
    height: 80px;
    width: 90%;
    /* margin-left: 2%; */
    /* border: 1px solid black; */
}

.home-icon-container {
    display: flex;
    height: 10px;
    align-items: center;
}

.home-123cont {
    display: flex;
    background-color: #0f0f0f;
    width: 100%;
    height: 41px;
    align-items: center;
    border-radius: 8%;
    /* border-top-right-radius: 6%; */
    font-family:  Roboto, Arial, sans-serif;
    /* font-size: 8px;/ */
    color: white;
}

.subs-container57 {
    background-color:#0f0f0f;
    width: 100%;
    height: 50%;
}


.home-123cont:hover {
    background-color: #302f2f;
}

.h2-name {
    margin-left: 12px;
    font-size: 14px;
    opacity: 0.83;
    font-weight: 500;
}

hr {
    /* height: 1px; */
    width: 90%;
}

.user-details {
    height: 330px;
}

.svg-details-left-cont {
    opacity: 0.9;
    width: 30px;
    height: 20px;
}

.you-sect-left-navbar {
    background-color:#0f0f0f;
    display: flex;
    height: 39px;
    align-items: center;
    padding-left: 1px;
    margin-top: 0.6em;
}
.you-sect-left-navbar:hover {
    opacity: 0.7;
}

.a-you-left-nav {
    font-size: 18px;
    height: 17px;
    color: white;
}

.svg-right-arrow-2323 {
    height: 15px;
    /* opacity: 0.; */
    width: 20px;
}

.subscriptions-container-left-panel-inside-2 {
    background-color:#0f0f0f;
    height: 500px;
    width: 100%;
}

.subs-img-left-cont {
    /* margin-left: 15px; */
    height: 24px;
}

.subs-name-left-cont-liter5425342 {
    font-weight: 549.9;
    margin-left: 13px;
}
.subs-div-inside-392 {
    display: flex;
    align-items: center;
    height: 35px;
    background-color:#0f0f0f;
}
.subs-h4-name-class3578439 {
    margin-left: 14px;
    color: white;
}

.user-subs-img-container-subscrip34 {
    height: 24px;
    width: 24px;
    overflow: hidden;
    border-radius: 50%;
    background-color:#0f0f0f;
    margin-left: 15px;
}

.explore-cont-left-cont-div-sec5 {
    background-color:#0f0f0f;
    height: 500px;
}

.explore-container-44829705894 {
    height: 30px;
    background-color:#0f0f0f;
    display: flex;
    align-items: center;
}

.more-from-yt {
    height: 350px;
}



.more-func-left-cont {
    display: flex;
    height: 300px;
    background-color:#0f0f0f;
}

.ul-list-left-anv-57497598407 {
    background-color:#0f0f0f;
    height: 200px;
    /* display: flex; */
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.ul-list-left-anv-57497598407  a {
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 13px;
}


.sidebar-cont-main::-webkit-scrollbar {
    width: 6px;
}

.sidebar-cont-main::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
    opacity: 0.5; 
}


.home-123cont {
    cursor: pointer;
}

.main-content-block-parent {
    display: grid;
    /* background-color:#0f0f0f; */
    margin-top: 4%;
    margin-left: 18%;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}   


.video-cont-main-whole4324 {
    /* background-color: rgb(7, 6, 7); */
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    flex-direction: column;
}
.video-cont-main-whole4324:hover {
    background-color: #3f3f3f;
}

.thumbail-container-img{
    align-self: flex-start;
    height: 50.4%;
    width: 100%;
    display: block;
    padding: .1px;
    /* background-color: green; */
    overflow: hidden;
}

.thumbail-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-sec-video-container-385743523 {
    height: 37%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.video-title-dp-cont041230878391 {
    background-color:#0f0f0f;
    height: 40%;
    margin-top: .3em;
    display: flex;
}

.channel-profile-pic {
    height: 2em;
    width: 2em;
    margin-left: .4em;
    margin-top: .3em;
    border-radius: 50%;
    overflow: hidden;

}

.video-title-main-high-text {
    background-color:#0f0f0f;
    display: flex;
    width: 75%;
    align-items: flex-start;
    height: 70%;
    margin-left: 1em;
    overflow: hidden;
    margin-top: .2em;
}

.video-info-channel-views-39 {
    display: flex;
    flex-direction: column;
    /* border: 2px solid magenta; */
    height: 8.6em;
    width: 100%;
    background-color:#0f0f0f;
    font-size: .4em;
}

.channel-name34727 {
    background-color:#0f0f0f;
    height: 50%;
    display: flex;
    align-items: center;
}

.time-474389 {
    background-color:#0f0f0f;
    display: flex;
    align-items: center;
    height: 50%;
}
.h2-insidetext {
    color: white;
    /* background-color: orange; */
}
.inside-text34{
    margin-left: 4.3em;
    font-size: 2em;
    color: rgb(177, 177, 177);
    font-weight: 400;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(207, 207, 207);
}
.sidbar-media-query {
    height: 100vh;
    margin-top: 59px;
    position: fixed;
    /* border: 2px solid red; */
    width: 64px;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    overflow: hidden;
}
.svg-cont-hidden-342u {
    display: flex;
    width: 100%;
    height: 50%;
    /* border: 2px solid orange; */
    align-items: center;
    justify-content: center;
}
.p-cont-3409 {
    /* border: 2px solid blue; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-cont-3409 p{
    font-size: .6em;
    font-weight: 500;
    color: white;
}
.svg-cont-left-media-hide {
    /* border: 2px solid green; */
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 70px;
}

.svg-cont-left-media-hide:hover {
    background-color: #3f3f3f;
}

.svg-media-query {
    display: flex;
    width: 40px;
    height: 29px;
    margin-top: 20px;
}



@media screen and (min-width:1150px) {
    .sidbar-media-query {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .box-search-container-parent1 {
        display: none;
        background-color: white;
    }
    .parent-top-right-32475895 {
        margin-left: 40%;
        margin-right: 30px;
    }
}

@media screen and (max-width:500px) {
    .parent-top-right-32475895 {
        margin-left: 30%;
        margin-right: 50px;
    }
}

@media screen and (max-width:450px) {
    .parent-top-right-32475895 {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width:1150px) {
    .sidebar-cont-main {
        display: none;
    }
    .main-content-block-parent {
        /* border: 2px solid red; */
        margin-left: 80px;
        margin-top: 60px;
    }
}
